* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.header_content1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header_content1 > img {
  width: 3%;
  height: 3%;
}
header h1 {
  margin: 50px 0px 30px 0px;
  text-align: center;
  font-size: 40px;
}
header p {
  font-size: 20px;
}
.keyboard {
  background: lightblue;
  width: 100%;
  display: flex;
}
.keyboard > div {
  height: 100px;
  width: 100px;
  flex: 1;
}
.keyboard1 {
  background: #60d394;
}
.keyboard2 {
  background: #d36060;
}
.keyboard3 {
  background: #c060d3;
}
.keyboard4 {
  background: #d3d160;
}
.keyboard5 {
  background: #7160d3;
}
.keyboard6 {
  background: #60bcd3;
}
.keyboard7 {
  background: #0bad21;
}
.keyboard8 {
  background: #207a91;
}
.keyboard9 {
  background: #f0de3f;
}
.keyboard10 {
  background: #d61b9e;
}
.keyboard11 {
  background: #af151d;
}
.keyboard12 {
  background: #d39d60;
}

@keyframes out {
  0% {
    bottom: 0%;
    left: 0%;
  }
  50% {
    bottom: 0%;
    left: 50%;
  }
  100% {
    bottom: 0%;
    left: 45%;
  }
}

.jump {
  transform: scale(1.5, 1.5);
}
/* @keyframes jump2 {
  0% {
    bottom: 0%;
    left: 20%;
  }
  50% {
    bottom: 0%;
    left: 50%;
  }
  100% {
    bottom: 0%;
    left: 40%;
  }
}
@keyframes jump3 {
  0% {
    bottom: 0%;
    left: 10%;
  }
  50% {
    bottom: 0%;
    left: 50%;
  }
  100% {
    bottom: 0%;
    left: 40%;
  }
}
@keyframes jump4 {
  0% {
    bottom: 0%;
    left: 10%;
  }
  50% {
    bottom: 0%;
    left: 50%;
  }
  100% {
    bottom: 0%;
    left: 40%;
  }
}
@keyframes jump5 {
  0% {
    bottom: 0%;
    left: 10%;
  }
  50% {
    bottom: 0%;
    left: 50%;
  }
  100% {
    bottom: 0%;
    left: 20%;
  }
}
@keyframes jump6 {
  0% {
    bottom: 0%;
    left: 90%;
  }
  50% {
    bottom: 0%;
    left: 50%;
  }
  100% {
    bottom: 0%;
    left: 5%;
  }
} */

.visual > div {
  position: relative;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  bottom: 0%;
  z-index: -1;
  margin: 2% 1% 2% 0px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.visual {
  /* background-image: url("./images/system.jpg"); */
  /* background-size: contain;
  background-repeat: no-repeat; */
  z-index: -1;
  width: 50%;
  height: 45%;
  display: flex;
  flex-wrap: wrap;
  padding-left: 5%;
  align-content: flex-start;
  /* overflow: hidden; */
}

.delete_buttom,
.on_off,
.play_buttom,
.modal_btn {
  border: none;
  padding: 10px 20px;
  /* border-radius: 7%; */
  margin: 10px;
  align-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 15px;
  transition: background-color 1s ease;
  /* background: linear-gradient(to left, #99e2b1, #8ecfdf); */
  background-color: lightpink;
}

.delete_buttom:hover,
.on_off:hover,
.play_buttom:hover,
.modal_btn:hover {
  /* background: linear-gradient(to right, lightblue, rgb(231, 231, 60)); */
  background-color: lightgreen;
}

.personal_info a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  margin: 10px;
  transition: color 1s ease;
}

a:hover {
  color: lightpink;
}

.modal_btn {
}

.modal_bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgb(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s;
}
.active {
  visibility: visible;
  opacity: 1;
}
.modal_close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-weight: bolder;
  cursor: pointer;
}
.modal {
  position: relative;
  background-color: white;
  width: 30%;
  height: 30%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  padding: 10px 20px;
}
.modal_list {
  padding: 10px;
}
